
<!--Header-->
<%- include("./partials/header.ejs") %>

<body>
    
    <!--Navbar-->
    <%- include("./partials/navbar.ejs") %>
    
    <div class="container">

        <h1 class="mt-5 text-center">Listando todas as perguntas no site</h1>
        <hr>

        <% perguntas.forEach(pergunta => { %>

            <div class="card mt-5">
                <div class="card-body">
                    <h3><%- pergunta.titulo %></h3>
                </div>
                <div class="card-footer">
                    <a href="/pergunta/<%= pergunta.id %>"><button class="btn verde">Responder</button></a>
                </div>
            </div>

       <% }); %>

    </div>


</body>

<!--Footer-->
<%- include("./partials/footer.ejs") %>